@model IEnumerable<WebApplication2.Models.comment>

@foreach(var i in Model)
{
    <div class="comment-list12993">
        <div class="container">
            <div class="row">
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                             <div class="comment-main-level">
                                <div class="comment-avatar">
                                    <a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">
                                        @if (!string.IsNullOrEmpty(i.user.profile_picture))
                                        {
                                            <img src="~/Uploads/Users/@i.user.user_id/@i.user.profile_picture" alt="Profile Picture">
                                        }
                                        else
                                        {
                                            <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                        }
                                    </a>
                                </div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name"><a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">@i.user.username</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> @i.commented_at</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                    <div class="comment-content"> @Html.Raw(i.content) </div>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            </div>
        </div>
    </div>
}
