@model IEnumerable<WebApplication2.Models.post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section _Header
{
    <!-- DataTables CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default shadow-sm">
            <div class="panel-heading bg-primary text-white">
                <h4 class="m-0 text-center">Quản lý bài đăng</h4>
            </div>
            <div class="d-flex flex-column m-3">
                <div class="text-right">
           
                    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-success btn-sm" })
                </div>
   
                <table class="table table-striped table-hover table-bordered pt-5" id="dataTables-example" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Date of post</th>
                            <th>Content</th>
                            <th>Category</th>
                            <th>User</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var Number = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.Raw(Number++)</td>
                                <td>@Html.DisplayFor(modelItem => item.title)</td>
                                <td>@Html.DisplayFor(modelItem => item.created_at)</td>
                                <td>@Html.Raw(item.content.Length > 100 ? item.content.Substring(0, 48) + "..." : item.content)</td>
                                <td>@Html.DisplayFor(modelItem => item.category.name)</td>
                                <td>@Html.DisplayFor(modelItem => item.user.full_name)</td>
                                <td class="text-center">
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.user_id }, new { @class = "btn btn-warning btn-sm mx-1" })
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.user_id }, new { @class = "btn btn-info btn-sm mx-1" })
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.user_id }, new { @class = "btn btn-danger btn-sm mx-1" })
                                </td>
                            </tr>
                        }
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>

@section _Footer
{
    <!-- DataTables JavaScript -->
    <script src="/Areas/admin/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
}
