@model IEnumerable<WebApplication2.Models.user>

@{
    ViewBag.Title = "Users";
}

<body>
    <section class="header-descriptin329">
        <div class="container">
            <h3>All users</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active">All users</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9 user-profile328903">
                    @foreach (var i in Model)
                    {
                        <div class="about-user2039">
                           <div class="row">
                           <div class="col-md-1">
                            <div class="user-image2939303"> 
                                <a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">
                                    @if (!string.IsNullOrEmpty(i.profile_picture))
                                    {
                                        <img src="~/Uploads/Users/@i.user_id/@i.profile_picture" alt="Profile Picture">
                                    }
                                    else
                                    {
                                        <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                    }
                                </a>
                            </div>
                               </div>
                               <div class="col-md-11">
                            <div class="user-description3903"> <a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">@i.username</a> <span class="badge229">
                                <div>Last login: @i.last_login</div>
                            </div>
                               </div>
                            </div>
                        </div>
                    }
                </div>
                <aside class="col-md-3 sidebar97239">
                    <div class="categori-part329">
                        <h4>Categories</h4>
                        <ul>
                            @{Html.RenderAction("getDetails", "Category");}
                        </ul>
                    </div>
                    @{Html.RenderAction("loginPartialView", "Login");}
                    @{Html.RenderAction("get15RecentPosts", "Post");}
                </aside>
            </div>
        </div>
    </section>
</body>
