@model WebApplication2.Models.user
@using BCrypt.Net;

@{
    ViewBag.Title = "User | " + Model.username;
}

<style>
    .profile-picture-container {
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    .profile-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .profile-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .profile-overlay i {
        color: white;
        font-size: 24px;
    }

    .user-title3930 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .user-edit-links {
        display: flex;
        gap: 10px;
        margin-top: 5px;
    }

    .user-edit-links a {
        color: #007bff;
        font-size: 0.8em;
    }

    .user-social-actions {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .user-social-actions a {
        text-decoration: none;
        color: #007bff;
    }

    .profile-picture-container:hover .profile-overlay {
        opacity: 1;
    }
</style>

<body>
    <section class="header-descriptin329">
        <div class="container">
        <h3 style="color: white">User Details</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active" style="color:white">User Details</li>
        </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <!--    body content-->
                <div class="col-md-9">
                    <div class="about-user2039 mt-70">
                        <div class="user-title3930">
                            <div>
                                <h3>
                                    About <a href="#">@Model.full_name</a>
                                    @if (Model.username.Equals(Session["Username"]))
                                    {
                                        <div class="user-edit-links">
                                            <a href="#" class="editUserInfo" data-toggle="modal" data-target="#editUserDetailsModal">Edit Your Information</a>
                                            <a href="#" class="changePassword" data-toggle="modal" data-target="#changePasswordModal">Change Password</a>
                                        </div>
                                    }
                                </h3>
                            </div>
                            <div class="user-social-actions">
                                @if (Session["Username"] != null && Model.username != Session["Username"].ToString())
                                {
                                    <a href="#" id="followUnfollowLink" data-user-id="@Model.user_id" class="follow-unfollow-link">
                                        @(Model.user1.Any(u => u.user_id == Convert.ToInt32(Session["Id"])) ? "Unfollow" : "Follow")
                                    </a>
                                }
                                <a href="#" data-toggle="modal" data-target="#followersModal">@Model.user1.Count Followers</a>
                                <a href="#" data-toggle="modal" data-target="#followingModal">@Model.users.Count Following</a>
                            </div>
                        </div>                        @if (Model.username.Equals(Session["Username"]))
                        {
                            <div class="user-image293">
                                <div class="profile-picture-container">
                                    @if (!string.IsNullOrEmpty(Model.profile_picture))
                                    {
                                        <img id="currentProfilePic" src="~/Uploads/Users/@Model.user_id/@Model.profile_picture" alt="Profile Picture" class="profile-image">
                                    }
                                    else
                                    {
                                        <img id="currentProfilePic" src="~/Content/image/images.png" alt="Default Profile Picture" class="profile-image">
                                    }
                                    <div class="profile-overlay">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div>

                            </div>

                            using (Html.BeginForm("UpdateProfilePicture", "User", FormMethod.Post, new { id = "profilePictureForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="file" name="profilePicture" id="profilePictureInput" style="display: none;" accept="image/*">
                            }
                        }
                        else
                        {
                            <div class="user-image293">
                                @if (!string.IsNullOrEmpty(Model.profile_picture))
                                {
                                    <img src="~/Uploads/Users/@Model.user_id/@Model.profile_picture" alt="Profile Picture">
                                }
                                else
                                {
                                    <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                }
                            </div>
                        }                        
                        <div class="user-list10039">
                            <div class="ul-list-user-left29">
                                <ul>
                                    <li><i class="fa fa-plus" aria-hidden="true"></i> <strong>Registered:</strong> @Model.created_at</li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i> <strong>Email:</strong> @Model.email</li>
                                    @*<li><i class="fa fa-heart" aria-hidden="true"></i> <strong>Last login:</strong> @Model.last_login</li>*@

                                </ul>
                            </div>
                            <div class="ul-list-user-right29">
                                <ul>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> <strong>Last login:</strong> @Model.last_login</li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    @{ Html.RenderAction("getPostsOfAUser", "Post", new { user_id = Model.user_id });}

                </div>
                <aside class="col-md-3 sidebar97239">
                    <div class="categori-part329">
                        <h4>Categories</h4>
                        <ul>
                            @{Html.RenderAction("getDetails", "Category");}
                        </ul>
                    </div>
                    @{Html.RenderAction("loginPartialView", "Login");}
                    @{Html.RenderAction("get15RecentPosts", "Post");}
                </aside>
            </div>
        </div>
        <div class="modal fade" id="editUserDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editUserDetailsModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @using (Html.BeginForm("UpdateUserDetails", "User", FormMethod.Post, new { id = "editUserDetailsForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                @Html.TextBoxFor(m => m.full_name, new { @class = "form-control", id = "fullName" })
                                @Html.ValidationMessageFor(m => m.full_name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control", id = "email" })
                                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="changePasswordForm" method="post" action="@Url.Action("ChangePassword", "User")">
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                                <span id="currentPasswordError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                <span id="newPasswordError" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="confirmNewPassword">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
                                <span id="confirmNewPasswordError" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="followersModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="followersModalLabel">Followers</h5>
                    </div>
                    <div class="modal-body">
                        @foreach (var follower in Model.user1)
                        {
                            <div class="user-info-container">
                                <div class="user-image2934">
                                    <a href="@Url.Action("UserInfo", "User", new { id = follower.user_id })">
                                        @if (!string.IsNullOrEmpty(follower.profile_picture))
                                        {
                                            <img src="~/Uploads/Users/@follower.user_id/@follower.profile_picture" alt="Profile Picture">
                                        }
                                        else
                                        {
                                            <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                        }
                                    </a>
                                </div>
                                <div class="user-username">
                                    <a href="@Url.Action("UserInfo", "User", new { id = follower.user_id })">
                                        @follower.username
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="followingModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="followingModalLabel">Following</h5>
                    </div>
                    <div class="modal-body">
                        @foreach (var following in Model.users)
                        {
                            <div class="user-info-container">
                                <div class="user-image2934">
                                    <a href="@Url.Action("UserInfo", "User", new { id = following.user_id })">
                                        @if (!string.IsNullOrEmpty(following.profile_picture))
                                        {
                                            <img src="~/Uploads/Users/@following.user_id/@following.profile_picture" alt="Profile Picture">
                                        }
                                        else
                                        {
                                            <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                        }
                                    </a>
                                </div>
                                <div class="user-username">
                                    <a href="@Url.Action("UserInfo", "User", new { id = following.user_id })">
                                        @following.username
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const profileContainer = document.querySelector('.profile-picture-container');
            const fileInput = document.getElementById('profilePictureInput');
            const profileForm = document.getElementById('profilePictureForm');

            if (profileContainer) {
                profileContainer.addEventListener('click', function () {
                    fileInput.click();
                });
            }

            if (fileInput) {
                fileInput.addEventListener('change', function () {
                    if (fileInput.files.length > 0) {
                        profileForm.submit();
                    }
                });
            }
        });
    </script>
</body>
