@model WebApplication2.Models.post

@{
    ViewBag.Title = "Post | " + Model.title;
    var url = @Url.Action("LikePost", "Post");
}


<body>
    
    <section class="header-descriptin329">
        <div class="container">
            <h3>Post Details</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="#">Post Details</a></li>
                <li class="">This Is My first Question</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="post-details">
                        <div class="details-header923">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="post-title-left129">
                                        <h3>@Model.title</h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="post-que-rep-rihght320"> <a href=@Url.Action("Index", "Category", new {id = Model.category_id})><i class="fa fa-question-circle" aria-hidden="true"></i> @Model.category.name</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="post-details-info1982">

                            @Html.Raw(Model.content)

                            <hr>
                            <div class="post-attachments">
                                @if (Model.attachments != null && Model.attachments.Any())
                                {
                                    <h4>Attachments</h4>
                                    <ul>
                                        @foreach (var attachment in Model.attachments)
                                        {
                                            <li style="margin:0px 0px 0px 30px">
                                                <a href="@Url.Action("DownloadAttachment", "Post", new { id = attachment.attachment_id })">
                                                    @attachment.file_name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <hr>
                                }
                            </div>
                            <div class="post-footer29032">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="post-footer29032 d-flex justify-content-between align-items-center">
                                            <div class="left-user12923 d-flex align-items-center">
                                                <a href="@Url.Action("UserInfo", "User", new {id = Model.user_id})">
                                                    @if (!string.IsNullOrEmpty(Model.user.profile_picture))
                                                    {
                                                        <img src="~/Uploads/Users/@Model.user_id/@Model.user.profile_picture" alt="Profile Picture">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                                    }
                                                </a>
                                                <a href="@Url.Action("UserInfo", "User", new { id = Model.user_id })" class="user-name">@Model.user.username</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="">
                                            <i class="fa fa-clock-o clock2 me-3" aria-hidden="true"> @Model.created_at</i>

                                            <i class="fa fa-commenting commenting2" aria-hidden="true"> @Model.comments.Count Comments</i>

                                            <i class="likeBtn fa @(Model.users.Any(u => u.user_id == Convert.ToInt32(Session["Id"])) ? "fa-thumbs-up" : "fa-thumbs-o-up")" data-id="@Model.post_id" data-url="@url" aria-hidden="true">
                                            </i>
                                            <a href="#">
                                                <span class="single-question-vote-result fa postDetailsLikesBtn" data-toggle="modal" data-target="#postDetailsLikesModal">@Model.users.Count Likes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h3>Comments</h3>
                    </div>
                    @{Html.RenderAction("commentsOfAPost", "Comment", new { post_id = Model.post_id });}

                    @if (Session["Username"] != null)
                    {
                        <hr>
                        using (Html.BeginForm("PostComment", "Comment", FormMethod.Post, new { id = "post-comment-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                <h3>Your comment</h3>
                            </div>
                            <div class="comment-editor">
                                @Html.TextArea("comment_content", null, new { @id = "comment-editor", @class = "form-control" })
                                @Html.Hidden("post_id", Model.post_id)
                                <div id="comment-error" class="text-danger" style="display: none;">
                                    Please enter a comment before submitting.
                                </div>
                                <input type="submit" class="button" style="margin:10px 0px 0px 0px" value="Post your comment" />
                            </div>
                        }
                    }

                </div>

                <aside class="col-md-3 sidebar97239">
                    <div class="categori-part329">
                        <h4>Categories</h4>
                        <ul>
                            @{Html.RenderAction("getDetails", "Category");}
                        </ul>
                    </div>

                    @{Html.RenderAction("loginPartialView", "Login");}

                    @{ Html.RenderAction("get15RecentPosts", "Post");}

                </aside>
            </div>
        </div>
    </section>
    <div class="modal fade" id="postDetailsLikesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post Likes</h5>
                </div>
                <div class="modal-body">
                    @foreach (var i in Model.users)
                    {
                        <div class="user-info-container">
                            <div class="user-image2934">
                                <a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">
                                    @if (!string.IsNullOrEmpty(i.profile_picture))
                                    {
                                        <img src="~/Uploads/Users/@i.user_id/@i.profile_picture" alt="Profile Picture">
                                    }
                                    else
                                    {
                                        <img src="~/Content/image/images.png" alt="Default Profile Picture">
                                    }
                                </a>
                            </div>
                            <div class="user-username">
                                <a href="@Url.Action("UserInfo", "User", new {id = i.user_id})">
                                    @i.username
                                </a>
                            </div>
                        </div>
                    }
                    <script>
                        $('.postDetailsLikesBtn').on('click', function () {
                            $('#postDetailsLikesModal').modal('show');
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>